<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonAccountCreatorGUI.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonAccountCreatorGUI.app>
            <setting name="ShuffleAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernamePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConstantPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="addToDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiCaptchaAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="TwoCaptchaAPI" serializeAs="String">
                <value />
            </setting>
        </PokemonAccountCreatorGUI.app>
    </userSettings>
</configuration>